<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<augustash_fixwysiwygsymlink>
			<general>
				<enabled><![CDATA[1]]></enabled>
                <allow_symlinks><![CDATA[1]]></allow_symlinks>
			</general>
        </augustash_fixwysiwygsymlink>
    </default>
</config>
