<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="augustash_fixwysiwygsymlink" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Fix WYSIWYG Symlnik]]></label>
            <tab>augustash</tab>
            <resource>Augustash_FixWysiwygSymlink::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[General Settings]]></label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label><![CDATA[Enable]]></label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                   <comment><![CDATA[Toggle the override to allow file uploads within a symlinked WYSIWYG media directory]]></comment>
                </field>

                <field id="allow_symlinks" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label><![CDATA[Allow Symlinks]]></label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
